footer{
    border: 1px solid gray;
    background-color: rgba(32, 34, 42, 1);
}
.footer{
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer p{
    color: rgba(255, 255, 255, 0.5);
}
.footer p:hover{
    color: #ffffff;
}
.footer ul li:hover{
    color: #ffffff;
}
.footer ul{
    gap: 30px;
    display: flex;
    color: rgba(255, 255, 255, 0.5);
}
